$spacing: 10px;
$large-span: 40px;
$small-span: 32px;

@function calLarge($a, $b) {
  @return $large-span * $a + $spacing * $b;
}

@function calSmall($a, $b) {
  @return $small-span * $a + $spacing * $b;
}

@mixin myMedi($a, $b) {
  @media (min-width: 1440px) {
    width: calLarge($a, $b);
  }

  @media (max-width: 1440px) {
    width: calSmall($a, $b);
  }
}

@mixin wrapper {
  @include myMedi(24, 23);
}

@mixin quarter-sider {
  @include myMedi(6, 5);
}

@mixin quarter-content {
  @include myMedi(18, 17);
}

@mixin third-sider {
  @include myMedi(8, 7);
}

@mixin third-content {
  @include myMedi(16, 15);
}

